.album-detail{
    padding: 0% 10%;
}

.button-return{
    /* border: 1px solid blue; */
    display: grid;
    /* margin: 5% 0% 1% 10%; */
    font-size: 14px;
    margin: 40px 0px 10px 0px;
}

.details{
    /* border: 1px solid purple; */
    color: #fafafa;
}

.album-view{
    /* border: 1px solid green; */
    float: left;
}

.album-list{
    /* border: 1px solid yellow; */
    /* padding: 0% 10% 0% 10%; */
    padding: 0% 0 0% 2%;
    float: right;
    /* width: 66% */
    width: 70%;
}

.album-list ul {
    list-style: none;
    padding: 0;
}

.album-list ul li span {
    display: flex;
}
.album-list ul li span p {
    margin: 0% 5% 10px 0%;
    /* border: 1px solid red; */
}

.first-topic{
    margin: 0% 5% 0 0%;
    color: #999999;
}
.second-topic{
    width: 525px;
}

.third-topic{

}
.main-album-view{
    /* border: 1px solid aqua;
    width: 175px;
    height: 230px; */
    /* padding: 0% 10% 0 10%; */
    /* width: 19%; */

    /* border: 1px solid aqua; */
    /* width: 175px; */
    width: min-content;
    /* height: 230px; */
    margin: 15px 0px 100px 0px;

}

.container-img{
    /* border: 1px solid orange;
    width: 135px;
    height: 130px;
    margin: 0 11%;
    background-color: #fafafa; */

    border: 1px solid orange;
    width: 235px;
    height: 230px;
    margin: 0 0 11%;
    background-color: #fafafa;
    opacity: 0.5;
}

.album-detail-child{
    width: 78%;
    margin: 0 11%;
    /* margin: 0 0 11%; */
}

.album-detail-child ul {
    list-style-type: none;
    /* border: 1px solid white; */
    font-size: 14px;
    text-align: center;
    padding: 0;
}

.album-name{
    color: #fafafa;
    margin: 0px 0px 10px 0px;
}

.artist-name{
    color: #999999;
}


@media only screen and (max-width: 375px) {

    .album-view{
        margin: 10px 0px 0px 25px;
    }

    .album-list{
        margin: 10px 45px 0px 0px;
    }
 }